* {margin: 1px; padding: 0;}

.article {
    width: 80%;
    height: 80%;
    padding: 10px;
    text-decoration: none;
}

.article a {
    color: #000000;
    text-decoration: none;
}

/* resize images */
.article img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

div {
  margin: 0px;
}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 1px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}